<nav class="navbar navbar-expand-md navbar-light fixed-top bg-light shadow-sm">
      
    <a class="navbar-brand" href="/">
      <object type="image/svg+xml" data="/assets/hanszen_crest.svg" height="32px" class="align-middle"></object>
    </a>
    <a class="navbar-brand" href="/">
       Alan Tapper
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!--Navigation Bar-->
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">

        <!--Tutoring-->
        <li class="nav-item">
            <a class="nav-link" href="/tutoring">Tutoring</a>
        </li>

        <!--Personal Projects-->
        <li class="nav-item">
            <a class="nav-link" href="/projects">Personal Projects</a>
        </li>
        
        <!--About Me-->
        <li class="nav-item">
            <a class="nav-link" href="/about">About Me</a>
        </li>
        
      </ul>
    </div>
</nav>
